<div class="center-all">
  <main class="main-container">
    <h1>{{ title }}</h1>
    <fieldset>
      <legend>Math Operations</legend>
      <table>
        <label for="usr-input">Number:</label
        ><br />
        <div class="inputtts">
          <input [(ngModel)]="userInput" [value]="userInput" (click)="handleInput($event)" id="usr-input" type="number" />
          <div>
            <button (click)="root()" class="btnStyled">Root</button>
            <button (click)="evenOrOdd()" class="btnStyled">Even / Odd</button>
            <button (click)="double()" class="btnStyled">Double</button>
            <button (click)="reset()" class="btnStyled">Reset</button>
          </div>
        </div>
      </table>
    </fieldset>
  </main>
</div>
